---
title: American Golf
metaTitle: Location Planning - American Golf
metaDesc: Network Strategy Consulting Support. How GEOLYTIX helped American Golf understand their optimum store network.
headline: UK Future Growth
overview: Understanding the Size of the Prize
image: american-golf.jpg
logo: american-golf.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "American Golf has 90 stores across the UK and ROI located on golf courses, A roads and retail parks.  Customers range from a one-off purchase in-store or online to dedicated golf enthusiasts who shop on a regular basis. Our challenge was to understand and evidence the opportunity for future growth by understanding American Golf's stores, catchments, customers and their behaviour." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Profile the American Golf Customer base, and show the propensity to purchase based on key demographics." | i18n }}</li>
    <li>{{ "Understand the relationship between physical locations and online, and whether an online halo exists." | i18n }}</li>
    <li>{{ "Understand how far customers are willing to travel, and how this differs by location type." | i18n }}</li>
    <li>{{ "Evidence the sales and catchment change from historical relocations. Understand the sales recapture from store closures." | i18n }}</li>
    <li>{{ "Forecast potential sales for all areas across the UK." | i18n }}</li>
    <li>{{ "Build an algorithm to score and rank the priority locations for new American Golf stores, incorporating the cannibalisation of the existing estate." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Working with Geolytix has provided us with tangible evidence and a greater understanding of our key customer groups as well as pinpointing priority locations for strategic expansion.  The insights gained have provided a consistent fact base, empowering our board to make well-informed decisions. We look forward to continuing to understand our customer and catchments as our estate grows and feeding this back in to future learnings." | i18n }}</p>
  <cite>{{ "Simon Owers, CFO" | i18n }}</cite>
</blockquote>