---
title: Charles Tyrwhitt
metaTitle: Customer Profiling and Key Driver Analysis
metaDesc: Identifying the next store locations to expand in both the short and long term
headline: Customer Profiling and Key Driver Analysis
overview: Identifying the next store locations to expand in both the short and long term
image: ct-case-study.jpg
logo: ct-logo.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Charles Tyrwhitt has been a part of Britain's high street for almost four decades, with the aim to make it easy for men to dress well. Beginning with their flagship store on London's famous Jermyn Street, Charles Tyrwhitt has since expanded to the rest of the country - and beyond - currently with 37 UK stores (and counting!)." | i18n }}</p>
  <p>{{ "Geolytix worked closely with Charles Tyrwhitt to better understand their instore and online customer. The outputs were integrated with retail, demographic, worker and footfall data at both a macro and micro geographies to build a model which when applied across the country highlighted the next best potential locations for new stores." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Profile the Charles Tyrwhitt instore and online customer and existing catchment reach." | i18n }}</li>
    <li>{{ "Understand the key drivers of sales performance." | i18n }}</li>
    <li>{{ "Use learnings from the customer profiling and key driver analysis to effectively build a scorecard model which recommends the next best locations for Charles Tyrwhitt." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Geolytix have been crucial in helping us to scout out the next store locations for Charles Tyrwhitt. The collaborative approach throughout the whole process resulted in an incredibly detailed and tailored scorecard which matched our specific needs, which will help us expand in both the short and long term." | i18n }}</p>
  <cite>{{ "Peter Neligan, Retail Finance Manager" | i18n }}</cite>
</blockquote>