---
title: Coles
metaTitle: Balancing a mix of Physical Stores alongside an Online Offer
metaDesc: Building a high functioning, multi-channel forecasting capability
headline: Balancing a mix of Physical Stores alongside an Online Offer
overview: Building a high functioning, multi-channel forecasting capability
image: coles-case-study.jpg
logo: coles.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Coles is one of Australia’s leading retailers, with an extensive footprint of supermarkets nationally. Coles’ store network has grown to meet customer demand for in-store grocery shopping, while the retailer has also been investing in the growth of its online delivery offer." | i18n }}</p>
  <p>{{ "Optimising the physical store network remains fundamental to supporting future bricks and clicks growth. As with all retailers that balance a mix of physical stores alongside an online offer, the Coles team have been working hard to balance the long-term nature of property investment against the rapidly evolving online landscape." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Establishing a holistic definition of grocery spend in Australia encompassing all channels." | i18n }}</li>
    <li>{{ "Leveraging our existing deep understanding of the bricks and mortar estate and key sales drivers; elevating forecasting performance with the latest machine learning and AI techniques." | i18n }}</li>
    <li>{{ "Providing a tailored, flexible and intuitive set of data and tools for the online grocery market. Bringing together the operational data assets and knowledge of the online team with traditional location planning data and geographies. Delivered via GEOLYTIX MAPP to be easily accessible to the wider Coles business." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "We consider Geolytix an extension of our Location Planning team, the work that they’ve been able to help us with has brought our physical and online location planning teams closer together and has enabled us to make better decisions for customers when assessing new store opportunities. However, that is just the core of the work. Working with Geolytix is a true partnership and they are always on hand to answer our questions; whether it is to provide us with a view on global trends, thought leadership on the Location Planning industry, or supporting with innovative ways to help drive efficiencies in the way we work." | i18n }}</p>
  <cite>{{ "Rich Lyness, Head of Location Planning" | i18n }}</cite>
</blockquote>