---
title: Cook
metaTitle: GEOLYTIX MAPP at the heart of COOK business processes
metaDesc: Using Geolytix MAPP to support store expansion and day to day operations
headline: GEOLYTIX MAPP at the heart of COOK business processes
overview: Using Geolytix MAPP to support store expansion and day to day operations
image: cook-case-study.jpg
logo: cook-logo.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "COOK was founded in 1997 - a B Corp company working for people and the planet, not just for profit. The company is still a family run business, with which we share the same values and love working together." | i18n }}</p>
  <p>{{ "Our challenge was to understand the COOK customer (online and in-store) and to create a bespoke GEOLYTIX MAPP instance that would be central to the Cook business for the property, operations and business development teams; in order for them to drive expansion in the right places while understanding potential cannibalisation." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Profile the COOK Customer base, and show the propensity to purchase based on key demographics." | i18n }}</li>
    <li>{{ "Understand the relationship between physical locations and online, and whether an online halo exists." | i18n }}</li>
    <li>{{ "Understand how far customers are willing to travel, and whether there is overlap between COOK store catchments." | i18n }}</li>
    <li>{{ "Design functionality and reporting in Geolytix MAPP to optimise delivery catchments." | i18n }}</li>
    <li>{{ "Design reporting in Geolytix MAPP to highlight the potential for the concession and store pipeline." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Geolytix MAPP has transformed our property development and operational processes. We use it across the whole of the Cook business to understand the potential of stores as well as being able to optimise delivery catchments and the concession pipeline. We've formed a really great relationship with the team which enables us to keep developing the system to drive the best out of it - we're really looking forward to what we can do over the next few years." | i18n }}</p>
  <cite>{{ "Carissa Penfold, Head of New Business" | i18n }}</cite>
</blockquote>