---
title: in-store Media France
metaTitle: A Data Driven Approach for the Out Of Home Advertising - in-store Media France
metaDesc: Maximize the match between advertisers and audiences - GEOLYTIX and in-store media partnership for audience qualification.
headline: A Data Driven Approach for the Out Of Home Advertising
overview: Maximize the match between advertisers and audiences
image: in-store-media-france.jpg
logo: in-store-media-france.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "in-Store Media in France, leader in DOOH Retail (Digital Out Of Home Retail advertising) with more than 3,300 screens available in more than 600 points of sale (hypermarkets and shopping malls) of which E.Leclerc, a historic and most important partner, is joining forces with Geolytix. The Retail Media expert wanted to increase his audience qualification capacity with the goal to improve the targeting and performance of its campaigns." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Estimate catchment area of each Mall using Mobility Data and Modelling." | i18n }}</li>
    <li>{{ "Aggregate insights with Sociodemographic Data on catchment." | i18n }}</li>
    <li>{{ "Compare audience profiles of Malls with their Brand, regional or national averages." | i18n }}</li>
    <li>{{ "Provide Data to in-Store go to Market team to target best location according to the Targeted audience of a campaign." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "We are delighted with this partnership with Geolytix. Their expertise will play a crucial role in the implementation of our omnichannel strategy aimed at consolidating our position as a Retail Media expert on the market while improving the customer experience." | i18n }}</p>
  <cite>{{ "Nicolas Benoit, CEO France in-Store Media" | i18n }}</cite>
</blockquote>