---
title: IWG
metaTitle: Automate and Streamline - IWG
metaDesc: Provide IWG with global data and GEOLYTIX MAPP to support ongoing growth internationally.
headline: Automate and Streamline
overview: Provide global data and MAPP to support ongoing growth internationally
image: iwg-case-study.jpg
logo: iwg-logo.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "International Workplace Group (IWG) are the global leader in hybrid working with brands including Regus, Spaces and HQ and over 4,000 centres across more than 120 countries. Geolytix were challenged to provide a solution to support IWG's ongoing growth internationally; helping to automate and streamline the processes in place for existing centre information, new centre locations and strategy." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Build a global MAPP instance for the IWG Global Development and Partnerships teams." | i18n }}</li>
    <li>{{ "Create and incorporate key datasets across demographics, competition and points of interest for 94 countries." | i18n }}</li>
    <li>{{ "Design functionality and reporting in Geolytix MAPP to improve efficiency around new centre openings." | i18n }}</li>
    <li>{{ "Produce an office capacity model, to understand and identify where there is opportunity for growth, using Geolytix Urban Areas." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "As we rapidly scale our hybrid working solutions globally, we have partnered with Geolytix to strategically plan our network expansion and growth. We are rapidly expanding not only in traditional CBD locations, but the vast majority of our locations are in the heart of local communities, closer to where people live, as we enable a greener, more flexible and more productive way of working." | i18n }}</p>
  <cite>{{ "Daniella Yacoubian, Corporate Development" | i18n }}</cite>
</blockquote>