---
title: Loaf
metaTitle: Choosing the Right Partner - Loaf
metaDesc: Choosing the Right Partner.
headline: Choosing the Right Partner
overview: Choosing the right partner to support the strategy
image: loaf-case-study.jpg
logo: loaf-logo.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Loaf are champions of comfort, colour and good old-fashioned craftsmanship. Their sofas are built in the U.K. by skilled teams who care for their customers as much as they do. Quality is at the heart so that people can buy fewer but more durable and long-lasting investments for their home.   
</div>
Loaf was a digital native business but recognised the opportunity of opening “slowrooms” so that customers can try out the comfiest sofas in the world. They now have 11 “slowroom” Shacks across the U.K. with ambitious plans to open more, and they decided to partner with Geolytix to develop the analytical tool to support them with their Shack strategy.
</div>
Geolytix have loved building a relationship with the whole team at Loaf, working together to support them in understanding their customers, their Shack estate and online offer so they can continue to provide their exceptional service and products." | i18n }}</p>
</div>

<div class="gap-bottom-800">
	<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Thank you to the team at Geolytix for their analytical capabilities, but also their approach to working together towards a common objective – we look forward to continuing the relationship in the future." | i18n }}</p>
  <cite>{{ "Anne Blixen-Finecke, CFO" | i18n }}</cite>
</blockquote>